{% extends "::baseAdmin.html.twig" %}


{% block body %}
    <!-- SECTION -->
    <div class="card-header">
        <i class="fa fa-table"></i>les details du suggestion concerné</div>
    <br><br>

    <h6>Nom:</h6>{{ nom   }}<br>
    <h6>Adresse:</h6> {{ adresse  }}<br>
    <h6>Horaire:</h6> {{ horaire  }}<br>
    <h6>Telephone:</h6> {{ telephone }}<br>
    <h6>Type:</h6> {{ type }}<br>



    <br><br>

{% endblock %}