{% for i in all %}

    <fieldset>
        <li ><h1><strong>{{  i.nom}}</strong></h1></li>
        <ul><h1><strong>{{  i.categorie  }}</strong></h1></ul>
        <ul><h1><strong>{{  i.prix }}</strong></h1></ul>
        <ul><h1><strong>{{  i.marque  }}</strong></h1></ul>
        <ul><h1><strong>{{  i.quantite  }}</strong></h1></ul>
        <hr style="color : #0c0b0b">

    </fieldset>
{% endfor %}