{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table Example</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Par</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Titre</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Par</th>
                        <th>Supprimer</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for topic in topics %}
                    <tr>
                        <td>{{ topic.titre }}</td>
                        <td>{{ topic.type }}</td>
                        <td>{{ topic.date|date('Y-m-d H:i:s') }}</td>
                        <td>{{ topic.idUser }}</td>
                        <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
                                Supprimer
                            </button>
                        </td>
                        <!-- Modal -->

                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Suppression</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Voulez vous supprimer ce topic?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('topic_delete',{'id':topic.id}) }}"><input type="button"  class="btn btn-primary" value="valider"></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
{% endblock %}