{% extends 'base.html.twig' %}

{% block body %}
    <h1>Topics list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td><a href="{{ path('topic_show', { 'id': topic.id }) }}">{{ topic.id }}</a></td>
                <td>{{ topic.titre }}</td>
                <td>{{ topic.type }}</td>
                <td>{{ topic.contenu }}</td>
                <td>{% if topic.date %}{{ topic.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('topic_show', { 'id': topic.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('topic_edit', { 'id': topic.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('topic_new') }}">Create a new topic</a>
        </li>
    </ul>

    <div class="container container-timeline">
        {% for topic in topics %}
        <div class="row">
            <div class="col-sm-12 col-hr">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="timeline-date-wrapper text-center">
                            <span class="date-timeline">11</span>
                            <span class="month-timeline">Sept</span>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-11 col-sm-offset-1 col-md-offset-0">
                        <div class="timeline-box-right-v2">
                            <div class="panel panel-default">
                                <div class="panel-heading"><a href="{{ path('topic_show', { 'id': topic.id }) }}">{{ topic.titre }}</a></div>
                                <div class="panel-body">{{ topic.contenu }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
